<h2>Détail du patient</h2>
@if (loaded()) {
    @if (patient()) {
    <div>
        <p>Nom : {{ patient().nom }}</p>
        <p>Prénom : {{ patient().prenom }}</p>
        <p>Date de naissance : {{ patient().dateNaissance }}</p>
        <p>Genre : {{ patient().genre?.libelle }}</p>
        <p>Adresse postale : {{ patient().adresse?.libelle }}</p>
        <p>Téléphone : {{ patient().telephone?.numero }}</p>
    </div>
} @else {
    <p>Patient introuvable.</p>
}
} @else {
    <p>Chargement du détail...</p>
}

<button (click)="toogleForm()">
    {{ showForm ? 'Fermer le formulaire' : 'Modifier les informations du patient'}}
</button>

@if (showForm) {
    <app-patient-form mode="edit" [patientData]="patient()" (formSubmit)="updatePatient($event)"></app-patient-form>
}



