<h2>Liste des patients</h2>

@if (loaded()) {
  @if (patients().length > 0) {
  <ul>
    @for (patient of patients(); track patient.id) {
      <li>
      <a [routerLink]="['/patients', patient.id]">
        Nom : {{ patient.nom }} Prénom : {{ patient.prenom }}
      </a>
    </li>
    }
  </ul>
} @else {
  <p>Aucun patient trouvé.</p>
}
}
 @else {
  <p>Chargement en cours...</p>
}

<button (click)="toogleForm()">
  {{ showForm ? 'Fermer le formulaire' : 'Nouveau patient' }}
</button>

@if (showForm) {
  <app-patient-form mode="create" (formSubmit)="addPatient($event)"></app-patient-form>
}

