<app-header></app-header>

<div class="page-container">

  <h2 class="title">Liste des patients</h2>

  @if (loaded()) {

    @if (patients().length > 0) {

      <ul class="patient-list">
        @for (patient of patients(); track patient.id) {
          <li class="patient-item">
            <a [routerLink]="['/patients', patient.id]" class="patient-linl">
              Nom : {{ patient.nom }} Prénom : {{ patient.prenom }}
            </a>
          </li>
        }
      </ul>
    } @else {
      <p class="empty">Aucun patient trouvé.</p>
    }

  } @else {
    <p class="loading">Chargement en cours...</p>
  }

  <button class="btn-primary" (click)="toogleForm()">
    {{ showForm ? 'Fermer le formulaire' : 'Nouveau patient' }}
  </button>

  @if (showForm) {
  <app-patient-form mode="create" (formSubmit)="addPatient($event)"></app-patient-form>
  }

</div>


